* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(187, 247, 187);
}
h1 {
  padding: 15px;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 1px;
  cursor: pointer;
}

.textview {
  width: 190px;
  margin: 5px;
  font-size: 25px;
  padding: 8px;
}

.main {
  position: absolute;
  top: 250px;
  left: 645px;
  background: rgb(41, 226, 41);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
}
